@import "fonts.css";
h1 {
	font-weight: normal;
}
.book {
	font-family: 'bebas_neuebook';
}
.light {
	font-family: 'bebas_neuelight';
}
.regular {
	font-family: 'bebas_neue_regularregular';
}
.thin {
	font-family: 'bebas_neuethin';
}